@import "../base/listas";

/* Botones */

.button {
    background-color: nth($colores, 1);
    border: none;
    color: nth($colores, 6);
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 5px;
    margin: 7px;
    &:hover{
    transition: all 0.2s;
    background-color: nth($colores, 3);
    }
}
